.bit-5
  %h2.goal_header{:data => {goal_id: goal.id}}
    Goal
  %ul.goal_lists
    = render "goal_attribute", object: goal

  = form_tag '#', :class => "edit_form", :id => "orig_edit", :style => "display:none" do
    = label_tag :title, "Title"
    %br/
    = text_field_tag :title, nil, :class => 'title_field'
    %br/
    = label_tag :description, "Description"
    %br/
    = text_area_tag :description, nil, :class => 'desc_field'
    = hidden_field_tag :klass, nil, :class => 'klass'
    = hidden_field_tag :object, nil, :class => 'object'
    %br/
    = submit_tag "Update", :class => 'update'


.bit-5
  %h2
    Motivation
  %br/
  %h3
    Positive
  %br/
  %ul.goal_lists
    -goal.motivations.select{|i| i.positive}.each do |motivation|
      = render "goal_attribute", object: motivation

  = render partial: "add_detail_form", locals: { klass: 'motivation', positive: true, goal: goal}

  = link_to 'Add Positive Motivation', '#', :class => "add_detail"
  %br/
  %br/
  %h3
    Negative
  %br/
  %ul.goal_lists
    -goal.motivations.reject{|i| i.positive}.each do |motivation|
      = render "goal_attribute", object: motivation

  = render partial: "add_detail_form", locals: { klass: 'motivation', positive: false, goal: goal}

  = link_to 'Add Negative Motivation', '#', :class => "add_detail"


.bit-5
  %h2
    Actions
  %ul.goal_lists
    -goal.actions.each do |action|
      = render "goal_attribute", object: action
  = render partial: "add_detail_form", locals: { klass: 'action', positive: false, goal: goal}

  = link_to 'Add Action', '#', :class => "add_detail"


.bit-5
  %h2
    beliefs
  %ul.goal_lists
    -goal.beliefs.each do |belief|
      = render "goal_attribute", object: belief
  = render partial: "add_detail_form", locals: { klass: 'belief', positive: false, goal: goal}

  = link_to 'Add Belief', '#', :class => "add_detail"


