.new_goal_container
  %h1
    New Goal

  %p
    A goal is a specific formulation of a dream. Take a moment to turn your dream into a goal. Make it as specific as possible.
  %h3
    What do you want to Achieve?
  -if @errors
    -@errors.each do |error|
      %h3
        = error

  = form_for @goal do |f|
    = f.label :title, "Title"
    %br/
    = f.text_field :title
    %br/
    %br/
    = f.label :description, "Description"
    %br/
    = f.text_area :description
    %br/

    %button.next
      Next


    .pos_motivation_container
      %h1
        Positive Motivation
      %p
        Think about why this goal is important to you

      %h3
        What will you gain when you achieve this goal?


      = f.fields_for :motivations do |builder|
        = render partial: "motivation_fields", locals: {f: builder, pos: true}

      = link_to_add_fields "Add Motivation", f, :motivations, true



    .neg_motivation_container
      %h1
        Negative Motivation

      %h3
        What will you lose when you achieve this goal?

      = f.fields_for :motivations do |builder|
        = render partial: "motivation_fields", locals: {f: builder, pos: false}

      = link_to_add_fields "Add Motivation", f, :motivations, false

    .actions_container
      %h1
        Actions
      %p
        Think about how you can achieve your goal. Think: "What is the first, second and third action I must do to get started"
      %h3
        What are the three actions you need to get started?

      = f.fields_for :actions do |builder|
        = render "action_fields", f: builder

      = link_to_add_fields "Add Action", f, :actions


    %br/
    %br/

    = f.submit "Create"

