.new_goal_container
  %h1
    New Goal

  %p
    A goal is a specific formulation of a dream. Take a moment to turn your dream into a goal. Make it as specific as possible.
  %h3
    What do you want to Achieve?

  = form_for @goal do |f|
    = f.label :title, "Title"
    %br/
    = f.text_field :title
    %br/
    %br/
    = f.label :description, "Description"
    %br/
    = f.text_area :description
    %br/

    %button.next
      Next


    .motivation_container
      %h1
        Motivation
      %p
        Think about why this goal is important to you

      %h3
        What will you gain when you achieve this goal?

      = f.fields_for :motivations do |builder|
        = partial "motivation_fields", f: builder




        / %h3
        /   What will you lose when you achieve this goal?

        / = builder.label :title, "Title"
        / %br/
        / = builder.text_field :title
        / %br/
        / = builder.label :description, "Description"
        / %br/
        / = builder.text_area :description
        / = builder.hidden_field :positive, value: false

    = link_to_add_fields "Add Motivation", f, :motivations
    %br/
    %br/

    = f.submit "Create"

